@using University.BackEnd.Entities;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Inicio";
}
<div class="row">

    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        University App
                    </h3>
                </div>
            </div>

            <!--begin::Form-->
            <form class="kt-form">
                <div class="kt-portlet__body">

                    <div class="form-group form-group-last">
                        <p>
                            Esta es una prueba técnica Desarrollada en ASP NET CORE como Front End, orientada a Servicios, implementado WCF.
                        </p>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <p>
                            Wilder Antonio Muñoz Martinez <br />
                            Contacto : wilderm@outlook.com <br />
                            Celular: 3102999724 <br />
                            Linkedin: https://www.linkedin.com/in/wilderm/
                        </p>
                    </div>
                </div>
            </form>

            <!--end::Form-->
        </div>
    </div>
</div>